---

---

<div class="flex items-center justify-between mt-5">
  <div class="relative flex items-center gap-4">
    <div class="relative">
      <img
        class="size-16 rounded shadow-md"
        src="https://avatars.githubusercontent.com/u/43911461?v=4"
        alt=""
      />
      <span
        class="absolute bottom-0 left-14 transform translate-y-1/4 w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"
      ></span>
    </div>

    <div class="font-medium dark:text-white">
      <div>sebascm-dev</div>
      <div class="text-sm text-gray-500 dark:text-gray-400">
        Marzo de 2024
      </div>
    </div>
  </div>
  <div
    class="group relative flex justify-center items-center text-[#555] text-sm font-bold"
  >
    <a href="https://github.com/sebascm-dev/primer-blog-astro" target="_blank">
      <div
        class="shadow-md flex items-center group-hover:gap-2 bg-gradient-to-br from-lime-200 to-[#DBAA3F] p-3 rounded-full cursor-pointer duration-300"
      >
        <svg
          class="icon icon-tabler icon-tabler-star"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
          ></path></svg
        ><span class="text-[0px] md:group-hover:text-sm duration-500"
          >¡Dale una estrella!</span
        >
      </div>
    </a>
  </div>
</div>
