<h1
  class="mb-4 mt-16 text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-4xl"
>
  <span
    class="text-transparent lg:text-5xl bg-clip-text bg-gradient-to-r from-[#F3AF42] to-[#bd2e2e]"
  >
    Blog FullStack-DEV'S
  </span>
  Sebastián Contreras Marín
</h1>
<p
  class="text-lg text-pretty mt-5 font-normal text-gray-500 lg:text-xl dark:text-gray-200"
>
  Bienvenidos al Blog del Desarrollador Full Stack, tu fuente de conocimiento y
  recursos para el mundo del desarrollo web. Aquí encontrarás contenido variado,
  desde tutoriales y consejos hasta noticias y tendencias en el ámbito
  tecnológico. Nuestro objetivo es ayudarte a crecer como profesional y
  contribuir a la comunidad de desarrolladores.
</p>
